<div>
<h1>{{title}}</h1>
<p-table>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="date">
        <div class="flex justify-content-between align-items-center">
          <i class="pi pi-sort-amount-down"></i><p-sortIcon field="date"></p-sortIcon>
            Date
            <p-columnFilter type="date" field="date" display="menu" class="ml-auto"></p-columnFilter>
        </div>
    </th>
        <th pSortableColumn="name">
            <div class="flex justify-content-between align-items-center">
                Name
                <p-sortIcon field="name"></p-sortIcon>
                <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
            </div>
        </th>
        <th pSortableColumn="from">
            <div class="flex justify-content-between align-items-center">
                from
                <p-sortIcon field="country.name"></p-sortIcon>
                <p-columnFilter type="text" field="country.name" display="menu" class="ml-auto"></p-columnFilter>
            </div>
        </th>
        <th pSortableColumn="to">
            <div class="flex justify-content-between align-items-center">
                To
                <p-sortIcon field="to"></p-sortIcon>
                <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" class="ml-auto">
                    <ng-template pTemplate="header">
                        <div class="px-3 pt-3 pb-0">
                            <span class="font-bold">Agent Picker</span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    </ng-template>
                </p-columnFilter>
            </div>
        </th>
        
        <th pSortableColumn="amount">
            <div class="flex justify-content-between align-items-center">
                Amount
                <p-sortIcon field="balance"></p-sortIcon>
                <p-columnFilter type="numeric" field="balance" display="menu" currency="USD" class="ml-auto"></p-columnFilter>
            </div>
        </th>
        <th pSortableColumn="Note">
            <div class="flex justify-content-between align-items-center">
                Note
                <p-sortIcon field="status"></p-sortIcon>
                <p-columnFilter field="status" matchMode="equals" display="menu" class="ml-auto">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    </ng-template>
                </p-columnFilter>
            </div>
        </th>
        <th style="width: 8rem"></th>
    </tr>
</ng-template>
<p-table [value]="items" responsiveLayout="scroll">
  <ng-template pTemplate="header">
      <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr>
          <td>{{Item}}</td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
  </ng-template>
</p-table>
</p-table>
</div>
<div>
   <button type="button">go back</button>
</div>